#SECRET_KEY='vf7e4zmsolr6ls%drlvi(19l*e6-%4(w&8os#_n^w@@$&!&k=c'
#TOKEN_KEY='w&8os#_n^w@@$&!&k=c)vf7e4zmsolr6ls%drlvi(19l*e6-%4'

CLIENT_ID='261311610848-87hchm7cjhv8uqmolbnn3ksn0fuadpfg.apps.googleusercontent.com'
CLIENT_SECRET='Y4tY4dStyOD-3BXed_A7YS20'

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY='724643044802-l66d3qf1vh6383n6q1on0558d6rqpv8b.apps.googleusercontent.com'
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET='AKIAJQPY27HDFSN2LABA'

SENTRY_DSN="https://9e6969ce6e2e4983822bb4d628e47a35@sentry.io/1784511"

AWS_S3_ACCESS_KEY="AKIAJQPY27HDFSN2LABA"
AWS_S3_SECRET_ACCESS_KEY="abcdefghijklmnopqrstuvwxyz"
AWS_S3_BUCKET="AKIAJQPY27HDFSN2LABA"

POSTGRESQL_HOST=127.0.0.1
POSTGRESQL_PORT=5432
DB_MONGO_HOST=127.0.0.1
DB_MONGO_PORT=27017
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

POSTGRESQL_USER="example"
POSTGRESQL_PASSWORD="example"
POSTGRESQL_DB_MASTER="example"
MONGO_DB_FILEPATH="example"

FIREBASE_API_KEY: "abcdefghijklmnopqrstuvwxyz",
FIREBASE_AUTH_DOMAIN: "example.firebaseapp.com",
FIREBASE_DATABASE_URL: "https://example.firebaseio.com",
FIREBASE_PROJECT_ID: "example",
FIREBASE_STORAGE_BUCKET: "example.appspot.com",
FIREBASE_MESSAGING_SENDER_ID: "1234567890",
FIREBASE_APP_ID: "0:1234567890:web:1234567890abcde"

API_GATEWAY_PORT=8001
#NATS_URI=nats://127.0.0.1:4222

SECRET_KEY=cobaaja
TOKEN_KEY=iyalagidicoba
MOCKSERVER_SERVICE_URI="http://127.0.0.1:3000"
AUTHENTICATION_PY_SERVICE_URI="http://0.0.0.0:8081"
FILEUPLOAD_NODEJS_SERVICE_URI="http://127.0.0.1:8201"
SATUANKERJA_GO_SERVICE_URI="http://127.0.0.1:8301"
JABATAN_GO_SERVICE_URI="http://127.0.0.1:8302"

