.idea/
.vscode/
node_modules/
tests/unit/coverage/
tests/unit/image-files/
service-python/authserver/files/static-collected/
service-python/**/migrations/*
service-nodejs/**/build/
service-golang/event/
service-python/executeFunction/
service-nodejs/lerna-debug.log
.DS_Store
.env
.env-golang
.env-nodejs
.env-python
.env-database
data/
