version: '3.3'

services:
  satuankerja:
    build:
      context: ./service-golang
    command: "satuankerja"
    networks:
      - satuankerja
    env_file: 
      - .env-golang

  jabatan:
    build:
      context: ./service-golang
    command: "jabatan"
    networks:
      - jabatan
    env_file: 
      - .env-golang

networks:
  satuankerja:
    external:
      name: gateway

  jabatan:
    external:
      name: gateway
